.cards-page {
  background-color: #202227;
  color: #fffefd;
  font-family: "Roboto";
  background-image: url("../../images/about/bg.png");
  .cards {
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
    .card {
      max-width: 180px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #32363c;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      .card-top {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgb(97, 112, 97);
        gap: 5px;
        .card-name {
          font-size: 9px;
          padding-bottom: 10px;
        }
        .card-img {
          max-width: 50px;
          img {
            width: 100%;
          }
        }
        .card-top-text {
          .card-profit {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            span {
              font-size: 7px;
              color: #ffffff;
              opacity: 0.5;
            }
            p {
              font-size: 8.2px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
            }
          }
        }
      }
      .card-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 12px;
        // padding: 7px;
        &-left {
          font-size: 9px;
          padding-right: 6px;
          border-right: 1px solid rgb(97, 112, 97);
        }
        &-right {
          padding-left: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
        }
      }
    }
  }
  .cards-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    background-color: #32363c;
    gap: 5px;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    @media (max-width: 350px) {
      width: 250px;
    }
    #current {
      background-color: #212429;
    }
    .card-nav__item {
      font-size: 12px;
      border-radius: 5px;
      padding: 10px 20px 10px 20px;
    }
  }
  main {
    .combo-items {
      padding-bottom: 15px;
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      gap: 10px;
      .combo-item {
        background-color: #32363c;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 15px 30px 15px 30px;
        border-radius: 15px;
        border: 2px solid transparent;
        border-image: linear-gradient(180deg, #bfff98 10%, #32363c 90%);
        border-image-slice: 1;
        p {
          font-size: 12px;
        }
        // border-left: 2px solid linear-gradient(180deg, #bfff98 0%,180deg, #32363C 100%);
        // border-right: 2px solid linear-gradient(180deg, #bfff98 0%,180deg, #32363C 100%);
        &-img {
          max-width: 50px;
          img {
            width: 100%;
          }
        }
      }
    }
    .total__coins {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .info {
      display: flex;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 9px;
      @media (max-width: 930px) {
        flex-wrap: wrap;
      }
      .info-card {
        background-color: #32363c;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 10px;
        @media (max-width: 360px) {
          min-width: 200px;
        }
        span {
          color: #fffefd;
          padding-top: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 15px;
          }
        }
      }
    }

    .info__clicker {
      max-width: 800px;
      margin: 0 auto;
      // margin-top: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 50px;
      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
  }
}
#groupList {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
  background-color: #2a2d32;
  padding: 20px;
  button {
    cursor: pointer;
    padding: 10px;
    background-color: rgb(40, 116, 138, 0.6);
    border-radius: 10px;
    border: 0;
    color: #fffefd;
    font-weight: 600;
    font-size: 12px;
    transition: 1s;
    &:hover {
      transition: 1s;
      webkit-box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
    }
  }
}
#cardsContainer {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 50px;
  max-width: 450px;
  .card {
    max-width: 180px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    background-color: #32363c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    gap: 5px;
    padding: 10px;
    transition: 1s;
    &:hover{
      transition: 1s;
      padding-bottom: 20px;
      box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
    }
    img {
      width: 70px;
    }
    button {
      cursor: pointer;
      // width: 200px;
      padding: 20px;
      background-color: rgb(40, 116, 138, 0.6);
      border-radius: 15px;
      margin-top: 20px;
      border: 0;
      color: #fffefd;
      font-weight: 600;
      font-size: 12px;
      transition: 1s;
      &:hover {
        transition: 1s;
        webkit-box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(40, 116, 138, 0.2);
      }
    }
  }
}
