.main {
  background-color: #202227;
  color: #fffefd;
  font-family: "Roboto";
  // background-image: url("../../images/about/bg.png");
  background: linear-gradient(180deg, #212429 0%, #524503 140%);
  .game-name {
    margin-top: 40px;
    text-align: center;
    font-family: "Roboto";
  }
  header {
    nav {
      ul {
        li {
          list-style: none;
        }
      }
    }
  }
  .user__info {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .user__avatar__name {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      p {
        font-size: 12px;
        font-weight: 600;
        font-family: "Roboto";
        line-height: 110%;
      }
      .user__avatar__img {
        max-width: 40px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .user__stock__exchage {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      .exchange-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        gap: 20px;
        img{
          height: 50px;
          width: 50px;
        }
      }
      p {
        font-size: 12px;
        font-weight: 600;
        font-family: "Roboto";
        line-height: 110%;
      }
      .user__stock__exchage__img {
        max-width: 25px;
        max-height: 25px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  main {
    margin-top: 100px;
    background-color: #2c2f35;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px;
    border: 2px solid #f9d838;
    .info__clicker {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 50px;
      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 9px;
      .info-card {
        background-color: #32363c;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 10px;
        @media (max-width: 360px) {
          min-width: 200px;
        }
        span {
          position: relative;
          padding: 20px;
          color: #fffefd;
          padding-top: 8px;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
          img {
            position: absolute;
            bottom: 2px;
            width: 35px;
            @media (max-width:480px) {
              bottom: -2px;
            }
          }
        }
      }
    }
    .total__coins {
      display: flex;
      align-items: center;
      margin-top: 24px;
      justify-content: center;
      .coin__div {
        max-width: 42px;
        max-height: 42px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .clicker {
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 400px;
      // max-height: 500px;
      margin: 0 auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #35389e 0%, #1c2848 98%);
      border: 10px solid #5155da;
      @media (max-width: 400px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      img {
        width: 100%;
        // margin-bottom: 30px;
      }
      // button {
      // height: 100%;
      // }
    }
    .cliker__info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      @media (max-width: 400px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .energy {
        display: flex;
        // justify-content: center;
        gap: 5px;
        align-items: center;
      }
      .boost {
        background-color: #35389e;
        border-radius: 15px;
        padding: 15px 25px 15px 25px;
        cursor: pointer;
      }
    }
    
  }
}
